<p id="notice"><%= notice %></p>

<p>
  <strong>Podcastname:</strong>
  <%= @podcast.podcastName %>
</p>

<p>
  <strong>Category:</strong>
  <%= @podcast.category %>
</p>

<p>
  <strong>Subcategory:</strong>
  <%= @podcast.subcategory %>
</p>

<p>
  <strong>Description:</strong>
  <%= @podcast.description %>
</p>

<%= link_to 'Edit', edit_podcast_path(@podcast) %> |
<%= link_to 'Back', podcasts_path %>
